@import "./mixins";
@import "./variables";
form {
    input {
        background-color: transparent;
        border: none;
        outline: none;
        @include textStyling('normal', 500, 14px,21px);
        color: var($--Light-Grey);
        &::placeholder {
            color: var($--Light-Grey);
            @include textStyling('normal', 500, 14px,21px);
        }
    }

}