// to spread variables according to theme used
@mixin spread-map($map: ()) {
    @each $key, $value in $map {
      #{$key}: $value;
    }
  }
// For styling text
  @mixin textStyling($style, $weight, $size, $lineHeight) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
  }